*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(./font/Montserrat-Medium.ttf);
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes modalFadeIn{
  from
  {
      opacity: 0;
      transform: translateY(-140px);
  }

  to
  {   
      opacity: 1;
      transform: translateY(0);
  }
}

html{
    font-family: myFirstFont;
    scroll-behavior: smooth;
    min-height: 5000px;
}


.header{
    min-height: 700px;
    width: 100%;
    padding: 20px;
    position: relative;
}

/* bac img */

.bac{
    position: absolute;
    width: 60px;
    left: 8%;
    top: 4%;
    z-index: 1;
}

.none{
  display: none;
}

/* nav  */

.nav{ 
    position: absolute;
    left: 15%;
    top: 7%;
    z-index: 1;
    width: 55%;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin-left: 28px;
    font-size: small;
    text-align: center;
   
}

.nav a:hover{
    background-color: rgba(224, 224, 224, 0.8);
    color: black;
}

/* slider */

.slider .slider1{
  flex: 1 0 100%;/* flex-grow, flex-shrink, and flex-basis. */
}

.slider .slider1.s1{
    background-image: url(./img/body-head/slide1.jpeg);
    background-size: cover;
    width: 100%;
    min-height: 700px;
}
.slider .slider1.s2{
  background-image: url(./img/body-head/slide2.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
}
.slider .slider1.s3{
  background-image: url(./img/body-head/slide3.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
}

.slider-wrapper{
  width: 100%;
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.slider{
  display: flex;
  position: relative;
  transition: 0.35s ease; 
    animation: modalFadeIn ease 0.6s;

}
/* slider title */
.title{
    color: #fff;
    position: absolute;
    top:40%;
    right: 12%;
    text-align: right;
    line-height: 45px;
    z-index:1;
}
.title1 {
    font-size: 53px;
    font-weight: 700;
    line-height: 60px;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 13px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 20px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(119, 119, 119, 0.8);
  }

  /* content about */
  .about{
    min-height: 700px;
    width: 100%;
    padding: 0 5px 5px 20px;
    position: relative;    
    text-align: center;
  }

  .about .about_section{
    
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  .about .about_description,.about .about_description3{
    width: 49%;
    float: left;
    padding: 150px 100px 0 100px;
    margin-left: 7px;
    background-color: whitesmoke;
    height:600px ;
  }
  
  .about .img_about{
    background-image: url(./img/content1/content1.jpeg);
    background-size: cover;
    width: 49%;
    min-height: 600px;
    float: left;
    padding: 20px;
    margin-right: 10px;
  }

  .about .about_description .title_about,  .about .about_description3 .title_about{
    font-size: 40px ;
    font-weight: bold;
    line-height: 45x;
  }

  .about .des_about{
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    
  }
  
  .button{
    display: inline-block;
    margin-top: 30px;
    padding: 15px 35px;
    border: 2px solid black;
    background-color: transparent;
    color: #333;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1;
    text-decoration: none;
  }

  .button:hover {
    border-color: #878787;
    background-color: #878787;
    color: white;
}

.about .img_about2{
  background-image: url(./img/content1/content2.jpeg);
  background-size: cover;
  width: 49%;
  min-height: 600px;
  float: left;
  padding: 20px;
  
}

.about .about_description2{
  width: 49%;
  float: left;
  padding: 150px 100px 0 100px;
  margin-right: 19px;
  background-color: #f5f5f5;
  height:600px ;
}

.about .about_description2 .title_about{
  font-size: 40px ;
  font-weight: bold;
  line-height: 45px;
}

/* number */

.numberDontLie{
  padding-left: 15%;
  text-align: center;
  width: 100%;
  min-height: 600px;
}

.numberDontLie .number{
  width: 20%;
  float: left;
  margin-top: 50px;
  margin-bottom: 78px;
}

.number h1{
  font-size: 40px;
}

/* content 2 */
.about .img_about3{
  background-image: url(./img/content1/content3.jpeg);
  background-size: cover;
  width: 49%;
  min-height: 600px;
  float: left;
  padding: 20px;
  margin-right: 12px;
}

/* content 2.2 */
.products{
  min-height: 500px;
  width: 100%;
  padding: 0 5px 5px 20px;
  position: relative;
  
  text-align: center;

}

.pro>img{
  width: 120px;
}

.products .pro{
  height: 400px;
  width: calc(97%/3);
  float: left;
  background-color: whitesmoke;
  padding: 40px 50px 0 50px;
}


.products .pro_description .title_pro{
  font-size: 40px ;
  font-weight: bold;
  line-height: 45px;
}

.products .des_pro{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c5c5c;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  
}

#pro1:hover{
  background-color: #e3e1d3;
}
#pro2:hover{
  background-color: #e0cece;
}
#pro3:hover{
  background-color: #d1d7e0;
}

/* quote */

.quote{
  margin-top:70px;
  width: 100%;
  text-align: center;
}

.content{
  display: none;
}

.content.visible{
  display: block;
}

/* creations */
.creations{
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 700px;
  margin-top: 100px;
}

.creations_part{
  width: 24%;
  background-size: cover;
  margin-right: 15px;
  min-height:350px;
  float: left;
  margin-bottom: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.creations_part:hover{
  transform: scale(1.05);
  opacity: 0.6;
  
}
/* mod */


.creations_part .btn:hover {
  transform: scale(1.3);
  opacity: 0.6;
}

.btn {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  height: 80px;
  
  min-width: 80px;
  cursor: pointer;
  z-index: 3;
  left: 30%;
  top: 37%;
}

.btn1{
  left: 55%;
  height: 90px;
  
  min-width: 90px;
}
.creations_part:hover .btn {
  opacity: 1;
}


/* contact */
.contact{
  width: 100%;
  min-height: 600px;
  text-align: center;
  margin-top: 110px;
}

form{
  margin-top: 100px;
}

form input{
  width: 40%;
  height: 45px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  color: #5c5c5c;
}

textarea{
  width: 40%;
  
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  color: #5c5c5c;
}

#Send{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color:  transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
}

#Send:hover{
  border-color: #878787;
  background-color: #878787;
  color: white;
  border: none;
}

/* FOOTER */
.footer{
  width: 100%;
  min-height: 200px;
  float: left;
  padding: 0 20px 20px 20px;
  position: relative;
}

.footer img{
  position: absolute;
  width: 90px;
  top: 40px;
  left: 70px;
}

.footer .footer_content{
  background-color: #242424;
  width: 100%;
  min-height: 270px;
  padding: 50px;
  
}

.footer_part{
  margin-right: 190px;
  width: 10%;
  display: inline-block;
}

.footer_part h4{
  color: #7d7d7d;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer_part a{
    margin-right: 20px;
    margin-top: 28px;
    color: white;
    line-height: 28px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    
}

.margin_left{
  margin-left: 360px ;
}

.footer_part p{

  color: white;
  line-height: 28px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  
}
/* shop */
#shop{
  position: relative;
}
#shop img{
  position: fixed;
  right: 0;
  width: 100px;
  bottom: 20px;
  cursor: pointer;
  z-index: 5;
}

#shop img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#amount_in_your_cart{
  position: fixed;
  right: 0;
  top:  580px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(218, 0, 0);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  z-index: 10;
  display: none;
}

#amount_in_your_cart.displayBlock{
  display: block;
}
/* infor of product */

#des_products_contain{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: modalFadeIn ease 0.6s;
  align-items: center;
  justify-content: center;
  display: none;
  align-items: center;
  justify-content: center;
  /* display: flex; */
}

#des_products_contain.appear{
  display: flex;
}

.description_pro{
  display: none;
}

#ver_1.hienRa{
  display: block;
}

#ver_2.hienRa{
  display: block;
}
#ver_3.hienRa{
  display: block;
}
#ver_4.hienRa{
  display: block;
}
#ver_5.hienRa{
  display: block;
}
#ver_6.hienRa{
  display: block;
}
#ver_7.hienRa{
  display: block;
}

.buy_in_description{
  position: absolute;
  right: 22%;
  bottom: 15%;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.buy_in_description:hover{
  background-color: #000000;
  color: #fff;
}
/* content of products */
.description_pro{
  width: 1200px;
  height: 650px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.6s;
  
}
.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  font-weight: bold;
  padding: 16px 15px;
}

.modal-close:hover {
  background-color: #ccc;
  color: black;
  cursor: pointer;
}
.imgWrap{
  width: 30%;
  float: left;
}
.imgWrap>img{
  min-width: 60.83%;
  height: 500px;
  margin-left: 15px;
  margin-top: 15px;
  animation: modalFadeIn ease 0.6s;

}

.description_pro h2{
  position: absolute;
  right: 18%;
  top: 6%;
  font-weight: bold;
  font-size: 29px;
 
}
.sale-pro{
  width: 500px;
  height: 300px;
  position: absolute;
  right: 7.5%;
  top: 27%;
  
  font-size: 20px;
  text-align: justify;
}

.imgWrapMini{
  width: 500px;
  height: 115px;
  /* border: 1px solid #000; */
  margin-left: 15px;
  margin-top: 5px;
}


.imgWrapMini input{
  width: 23%;
  margin-left: 5px;
}

.imgWrapMini img:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* cart shoping */

#cart_contain{

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: modalFadeIn ease 0.6s;
  align-items: center;
  justify-content: center;
  display: none;

  /* display: flex; */
}

#cart_contain.appearent{
  display: flex;
}

.description_cart{
  width: 1200px;
  height: 650px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.6s;
  padding: 15px;
  
}

.product_in_cart_IP{
  width: 24%;
  height: 48%;
  border: 1px solid #000;
  float: left;
  margin-bottom: 15px;
  margin-right: 5px;
  display: none;
  position: relative;
}
.product_in_cart_IP h4{
  /* text-align: center; */
  padding-left: 5px;
}
.product_in_cart_IP img{
  width: 100%;
  height: 90%;
  /* border: 1px solid #000; */
  
}

.product_in_cart_IP h3{
  margin-top: 35%;
  text-align: center;
}

.add_more_pro{
  position: absolute;
  bottom: 13%;
  right: 30%;
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  line-height: 25px;
  display: none;
  border-radius: 5px;
}

.product_in_cart_IP:hover .add_more_pro{
  display: block;
}

.add_more_pro:hover{
  /* color: #000; */
  background-color: rgba(224, 224, 224, 0.3);
}

.minus_more_pro{
  position: absolute;
  bottom: 13%;
  right: 50%;
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  line-height: 25px;
  display: none;
  border-radius: 5px;

}

.product_in_cart_IP:hover .minus_more_pro{
  display: block;
}

.minus_more_pro:hover{
  /* color: #000; */
  background-color: rgba(224, 224, 224, 0.3);
}

/*  */

.sum_cart{
  display: block;
  border: none;
  position: absolute;
  right: 7%;
  bottom: 26%;
}

#product_1.displayBlock{
  display: block;
}
#product_2.displayBlock{
  display: block;
}#product_3.displayBlock{
  display: block;
}#product_4.displayBlock{
  display: block;
}#product_5.displayBlock{
  display: block;
}#product_6.displayBlock{
  display: block;
}#product_7.displayBlock{
  display: block;
}

.close-pro{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  display: none;
}

#product_1:hover .close-pro{
  display: block;
}
#product_2:hover .close-pro{
  display: block;
}#product_3:hover .close-pro{
  display: block;
}#product_4:hover .close-pro{
  display: block;
}#product_5:hover .close-pro{
  display: block;
}#product_6:hover .close-pro{
  display: block;
}#product_7:hover .close-pro{
  display: block;
}

.close-pro:hover{
  color: #000;
  background-color: rgb(255, 255, 255);
}

/* Span form */

.span_form{
  position: absolute;
  left: 10%;
  color: red;
  width: 250px;
  border: 1px #000 solid;
  height: 30px;
  line-height: 30px;
  animation: shake 0.5s;
  display: none;
}

#succes_sent{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 800px;
  height: 500px;
  display: none;
}

.succes_sent_class img{
  width: 70%;
  height: 70%;
  background-color:rgba(98, 98, 98, 0.3);
  text-align: center;
  margin-left: 60%;
  margin-top: 10%;
}

/* sale now */


#clock{
font-size: 25px;
width: 130px;
height: 100px;
font-weight: bold;
position: fixed;
z-index: 11;
top: 5px;
left: 90%;
}
.tilte_of_sale{
  background-color: rgb(255, 255, 255);
width:130px;
height: 100px;
color: rgb(255, 0, 0);
-webkit-text-stroke: 1px rgb(255, 0, 0);
border: 2px #000 solid;
/* padding-top: 10px; */
text-align: center;
animation: shake 0.5s;
animation-iteration-count: infinite;
font-size: 25px;
border-radius: 10%;    
}

#clock_count {
text-align: center;
margin-top: 0px;
color: rgb(255, 255, 255);
line-height: 50px;
border-radius: 10%;
width: 120px;
background-color: rgb(0, 0, 0);
border: 1px #000 solid;
margin: 0 auto;
animation: shake 1.3s;
animation-iteration-count: infinite;
}
/* payment */
#payment{

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: modalFadeIn ease 0.6s;
  align-items: center;
  justify-content: center;
  display: none;

  /* display: flex; */
}

.pays-modal-close{
  color: #ffffff;
}

#payment.appearent{
    display: flex;
}
  
.payment_cart{
    width: 600px;
    height: 650px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.6s;

    
}

#pay_now{
  position: absolute;
  top: 140%;

  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
#pay_now:hover{
  background-color: #000000;
  color: #fff;
}

.payment_title{
  width: 100%;
  height: 100px;
  background-color: #242424;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
}

#form_payment_contain{
  text-align: center;
}

#form_payment{
  margin-top: 10px;
}

#form_payment label{
  font-weight: bold;
  line-height: 30px;
  font-size: 16px;
}

#form_payment h3{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#form_payment_button{
  display: inline-block;
  margin-top: 15px;
  border: 2px solid black;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
}

#form_payment_button:hover {
  border-color: #878787;
  background-color: #878787;
  color: white;
}

/* index slider */
#index_slider{
  position: absolute;
  bottom: 30px;
  margin-left: 43%;
  margin-top: 30px;
  z-index: 11;
}

.index_slider1,.index_slider2,.index_slider3{
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  float: left;
  border-radius: 50%;
  margin-left: 40px;
  cursor: pointer;
}

.index_slider1:hover,.index_slider2:hover,.index_slider3:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
/* large */

@media only screen and (max-width:1550px) {
  /* nav */

  /* about */
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    margin-right: 15px;
  }

  .about .about_description{
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    
    background-color: #f5f5f5;
    height:600px ;
  }

  .about .about_description2{
    
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    margin-right: 19px;
    background-color: #f5f5f5;
    height:600px ;
  }
  .about .img_about2{
    
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
  }

  /* number */

  .numberDontLie{
    padding-left: 20%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 100px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
    
  }

  .about .about_description3{
    margin-top:100px;
  }

  /* products */

  .products .pro{
    height: 400px;
  width: calc(97%/3);
  float: left;
  background-color: whitesmoke;
  padding: 40px 50px 0 50px;
  }

  .quote{
    margin-top: 200px;
    height: 200px;
  }
  
  .creations_part{
    width: 23.531%;
    float: left;
    margin-right: 20px;
  }

  .contact{
    margin-top: 150px;
  }
  form{
    margin-top: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .footer_part{
    width: 8%;
  }
}


/* laptop of Mt.Tam */

@media only screen and (max-width:1400px) {
  /* nav */

  /* about */
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    margin-right: 15px;
  }

  .about .about_description{
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    
    background-color: #f5f5f5;
    height:600px ;
  }

  .about .about_description2{
    
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    margin-right: 19px;
    background-color: #f5f5f5;
    height:600px ;
  }
  .about .img_about2{
    
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
  }

  /* number */

  .numberDontLie{
    padding-left: 20%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 100px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
    
  }

  .about .about_description3{
    margin-top:100px;
  }

  /* products */

  .products .pro{
    height: 400px;
  width: calc(97%/3);
  float: left;
  background-color: whitesmoke;
  padding: 40px 50px 0 50px;
  }

  .quote{
    margin-top: 200px;
    height: 200px;
  }
  
  .creations_part{
    width: 23.531%;
    float: left;
    margin-right: 20px;
  }

  .contact{
    margin-top: 150px;
  }
  form{
    margin-top: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .footer_part{
    width: 8%;
  }
}
/* tablet */
@media only screen and (max-width:1290px) {
  .nav{
    width: 60%;
  }

  /* about */
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    margin-right: 15px;
  }

  .about .about_description{
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    
    background-color: #f5f5f5;
    height:600px ;
  }

  .about .about_description2{
    
    width: 49%;
    margin: 0;
    padding: 150px 100px 0 100px;
    margin-right: 19px;
    background-color: #f5f5f5;
    height:600px ;
  }
  .about .img_about2{
    
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
  }

  /* number */

  .numberDontLie{
    padding-left: 20%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 100px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 49%;
    margin-bottom: 20px;
    min-height: 600px;
    background-size:auto;
    background-position: center center;
    
  }

  .about .about_description3{
    margin-top:100px;
  }

  /* products */

  .products .pro{
    height: 400px;
  width: calc(97%/3);
  float: left;
  background-color: whitesmoke;
  padding: 40px 50px 0 50px;
  }

  .quote{
    margin-top: 200px;
    height: 200px;
  }
  
  .creations_part{
    width: 23.327%;
    float: left;
    margin-right: 20px;
  }

  .contact{
    margin-top: 150px;
  }
  form{
    margin-top: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .footer_part{
    width: 4%;
  }
  #amount_in_your_cart{
    position: fixed;
    right: 0;
    top:  815px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(218, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    display: none;
  }
}
/* Iphone */

@media only screen and (max-width:1100px) {
  /* nav */
  .nav{
    display: none;
  }
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 99%;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 100%;
  }
  /* about */
  .about .about_description{
    padding: 20px;
    width: 99%;
    margin: 0;
    height: 20%;
  }

  .about .about_description2{
    padding: 20px;
    width: 99%;
    margin: 0;
    height: 20%;
  }
  .about .about_description3{
    padding: 20px;
    width: 99%;
    margin: 0;
    height: 20%;
  }
  .about .img_about2{
    margin-top: 20px;
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 99%;
    margin-bottom: 20px;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 100%;
    background-position: center center;
  }
  /* number */
  .numberDontLie{
    padding-left: 20%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 20px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 99%;
    margin-bottom: 20px;
    min-height: 300px;
    background-size: 100% ;
    background-position: center center;
    margin-top: 90px;
  }
  /* products */
  .products .pro{
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
  }

  .quote{
    margin-top: 900px;
    height: 200px;
  }
  /* creations */
  .creations_part{
    width: 47.9%;
    float: left;
    margin-right: 20px;
    min-height: 40%;
  }

  .contact{
    margin-top: 500px;
  }
  form{
    margin-top: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .margin_left{
    margin: 0 0 0 0;
  }

  .footer_content{
    display: block;
    height: 700px;
  }

  .footer_part{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
  }

  .margin_top{
    margin-top: 15%;
  }

  .footer img{
    left: 46%;
    right: 50%;
  }
}

/* galaxy */

@media only screen and (max-width:900px) {
  /* nav */
  .nav{
    display: none;
  }
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 100%;
  }
  /* about */
  .about .about_description{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }

  .about .about_description2{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .about_description3{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .img_about2{
    margin-top: 20px;
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 98%;
    background-position: center center;
  }
  /* number */
  .numberDontLie{
    padding-left: 20%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 20px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    background-size: 100% ;
    background-position: center center;
    margin-top: 90px;
  }
  /* products */
  .products .pro{
    height: 430px;
    width: 98.2%;
    margin-bottom: 20px;
  }

  .quote{
    margin-top: 900px;
    height: 200px;
    margin-bottom: 300px;
  }
  /* creations */
  .creations_part{
    width: 98%;
    float: left;
    margin-right: 20px;
    min-height: 50%;
  }

  .contact{
    margin-top: 500px;
  }
  form{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .margin_left{
    margin: 0 0 0 0;
  }

  .footer_content{
    display: block;
    height: 700px;
  }

  .footer_part{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
  }

  .margin_top{
    margin-top: 16%;
  }

  .footer img{
    left: 45%;
    right: 50%;
  }
}

/* tab2 */
@media only screen and (max-width:440px) {
  /* nav */
  .nav{
    display: none;
  }
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 100%;
  }
  /* about */
  .about .about_description{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }

  .about .about_description2{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .about_description3{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .img_about2{
    margin-top: 20px;
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 98%;
    background-position: center center;
  }
  /* number */
  .numberDontLie{
    padding-left: 10%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 20px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    background-size: 100% ;
    background-position: center center;
    margin-top: 90px;
  }
  /* products */
  .products .pro{
    height: 430px;
    width: 98.2%;
    margin-bottom: 20px;
  }

  .quote{
    margin-top: 900px;
    height: 200px;
    margin-bottom: 600px;
  }
  /* creations */
  .creations_part{
    width: 98%;
    float: left;
    margin-right: 20px;
    min-height: 50%;
    margin-top: 20px;
  }

  #creation{
    margin-top: 600px;
  }

  .contact{
    margin-top: 500px;
  }
  form{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .margin_left{
    margin: 0 0 0 0;
  }

  .footer_content{
    display: block;
    height: 700px;
  }

  .footer_part{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
  }

  .margin_top{
    margin-top: 16%;
  }

  .footer img{
    left: 45%;
    right: 50%;
  }
}

@media only screen and (max-width:540px) {
  /* nav */
  .nav{
    display: none;
  }
  .about .img_about{
    background-position: center center;
    background-image:url('./img/content1/content1.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 100%;
  }
  /* about */
  .about .about_description{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }

  .about .about_description2{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .about_description3{
    padding: 20px;
    width: 98.2%;
    margin: 0;
    height: 20%;
  }
  .about .img_about2{
    margin-top: 20px;
    background-image:url('./img/content1/content2.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    margin-bottom: 20px;
    background-size: 98%;
    background-position: center center;
  }
  /* number */
  .numberDontLie{
    padding-left: 10%;
  }

  .numberDontLie .number{
    width: 50%;
    margin-top: 40px;
    margin-bottom: -10px;
    float:left;
    text-align: left;
  }

  .about .img_about3{
    margin-top: 20px;
    background-image:url('./img/content1/content3.jpeg');
    background-repeat:no-repeat;
    width: 98.2%;
    margin-bottom: 20px;
    min-height: 300px;
    background-size: 100% ;
    background-position: center center;
    margin-top: 90px;
  }
  /* products */
  .products .pro{
    height: 430px;
    width: 98.2%;
    margin-bottom: 20px;
  }

  .quote{
    margin-top: 900px;
    height: 200px;
    margin-bottom: 400px;
  }
  /* creations */
  .creations_part{
    width: 98%;
    float: left;
    margin-right: 20px;
    min-height: 50%;
  }

  .contact{
    margin-top: 500px;
  }
  form{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  form input,textarea{
    width: 90%;
  }

  .margin_left{
    margin: 0 0 0 0;
  }

  .footer_content{
    display: block;
    height: 700px;
  }

  .footer_part{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
  }

  .margin_top{
    margin-top: 16%;
  }

  .footer img{
    left: 45%;
    right: 50%;
  }
}

